*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.m30{
    margin-top: 30px;
}

.m10{
    margin-bottom: 20px;
}

#title_main {
    font-size: 40px;
    /*text-align: center!important;*/
    color: black;
    margin-top: 15px;
}
/*Nav*/
.nav-link{
    color: white;
}

.bg-light{
    background-color: #343a40!important;
}

.nav-link{
    color: white!important;
}

.nav-link:hover{
    color: #457b9d!important;
}

#image_construction{
    display: block;
    margin: 0px auto;
}