*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.m30{
    margin-top: 30px;
}

.m10{
    margin-bottom: 20px;
}

#title_main {
    text-align: center!important;
    color: black;
    margin-top: 15px;
}

#title-sub_main{
    text-align: center!important;
    color: black;
    margin-top: -10px; 
    font-size: 25px;
}

/*Nav*/
.nav-link{
    color: white;
}

.bg-light{
    background-color: #343a40!important;
}

.nav-link{
    color: white!important;
}

.nav-link:hover{
    color: #457b9d!important;
}

#title_main {
    text-align: center!important;
    color: black;
    margin-top: 15px;
}

.pagination{
    margin: 0px auto;
}

/*Articles*/
.page-header {
    padding-bottom: 5px;
    margin: 5px 0 15px;
    border-bottom: 1px solid #919191;
}

.title_sub{
    text-align: center;
    color: black;
    font-size: 22px;
    margin-top: -5px;
}

.uk-card-default {
    background: #e5e5e5;
    color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.paragraph{
    font-size: 22px;
    color: black;
}

.concepts{
    font-size: 18px;
}

.uk-subnav-pill>.uk-active>a {
    background-color: #1e87f0;
    color: #fff;
    font-size: 15px;
}
/*Other card*/
.uk-tab-left>*>a {
    text-align: left;
    border-right: 1px solid transparent;
    border-bottom: none;
    font-size: 18px;
}

.uk-tab-right > * > a {
    text-align: left;
    border-left: 1px solid transparent;
    border-bottom: none;
    font-size: 18px;
}

.uk-tab>.uk-active>a {
    color: #ef233c;
    border-color: #1e87f0;
}


/*Curiosidades 3*/
.uk-accordion-title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.4;
    color: #0077b6;
    overflow: hidden;
}

/*Curiosidades 4*/
.uk-button-default {
    background-color: #ffd166;
    color: #333;
    border: 1px solid #e5e5e5;
}

